@font-face {
  font-family: 'Righteous-Regular';
  src: url('./assets/fonts/Righteous-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta-Bold';
  src: url('./assets/fonts/Mukta-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta-Medium';
  src: url('./assets/fonts/Mukta-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta-Regular';
  src: url('./assets/fonts/Mukta-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Righteous-Regular', sans-serif;
  font-family: 'Mukta-Bold', sans-serif;
  font-family: 'Mukta-Medium', sans-serif;
  font-family: 'Mukta-Regular', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
