
.glassEffect{
    position: 'absolute';
          top: 0px;
          left: 0px;
          width: 130vh;
          height: 85vh;
          background-color: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(10px);
          border-radius: 0  0 200px 0;
}
.textHome {
    margin-top:280px;
    display: inline-block;
    text-align: center;
}
