
.glassEffect{
    user-select: none;
    top: 0px;
    left: 0px;
    width: 130vh;
    height: 90vh;
    background: rgba(79, 79, 79, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    border-radius: 0  0 200px 0;
}
.textHome {
    padding-top: 20%;
    display: flex;
    text-align: left;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
