
.glassEffect{
    top: 0px;
    left: 0px;
    width: 130vh;
    height: 85vh;
    background: rgba(79, 79, 79, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    border-radius: 0  0 200px 0;
}
.textHome {
    margin-top:280px;
    display: inline-block;
    text-align: center;
}

