@font-face {
    font-family: 'Righteous-Regular';
    src: local('Righteous-Regular'), url(../assets/fonts/Righteous-Regular.ttf) format('truetype');
  }
.containerMenu {
    display: flex; 
    align-items: center; 
    flex-direction: column;
    padding-top: 150px;
  }
.headline{
    font-size: 80px;
    font-family: 'Righteous-Regular';
    font-weight: 200;
    text-transform: uppercase;
}

.searchPanel {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchPanel input{
  width: 300px;
  height: 50px;
  border-radius: 18px;
  border: solid #E5E5E5;
  padding-left: 24px;
  font-family: 'Mukta-Regular';
  font-size: 20px;
}

.searchPanel button {
  border-radius: 10px;
  height: 53px;
  width: 80px;
  background-color: #15161A;
  color: #FFFFFF;
  border: #15161A;
  font-family: 'Mukta-Bold';
  font-size: 16px;
  cursor: pointer;
}

.carousel {
  position: relative;
  width: 100%;
  display: flex;  
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.prev:hover,
.next:hover {
  transform: translateY(-50%) scale(1.1); /* При наведении кнопка увеличивается */
}
.slides {
  padding-top: 30px;
  object-fit: cover;
  flex-shrink: 0;
  flex-grow: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
  gap: 20px;
  transition: translate 300ms ease-in-out;
}
/* .curve-background {
  position: absolute;
  z-index: -1;
  width: 100%; 
  height: 100%; 
} */

.dots {
  height: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.dot-active {

  width: 7px;
  height: 7px;
  background-color: #000;
  border-radius: 200px;
}
.dot {
  width: 5px;
  height: 5px;
  background-color: gray;
  border-radius: 200px;
}
/* .prev,
.next {
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
} */
.prev{
  left:200px;
}
.next{
  right:200px;
}
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  background: none;
}
/* .prev img,
.next img {
  width: 40px;
  height: 40px;
} */
.prev img,
.next img {
  width: 40px;
  height: 40px;
  opacity: 1;
  transition: opacity 0.3s ease;
}